.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App-logo {
  height: 40px;
  border-radius: 300px;
}

.App-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background: #282c34;
  color: white;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.App-header-company {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.App-header h1 {
  font-size: x-large;
}

.App-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.App-nav li {
  margin: 0 15px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.App-nav li:hover {
  text-decoration: underline;
}

.App-nav li.selected {
  font-weight: bold;
  text-decoration: underline;
}

.App-section {
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

#about {
  background: #f9fafb;
}

#portfolio {
  background: #e8f5e9;
}

#contact {
  background: #e3f2fd;
}

.projects {
  width: 100%;
}