:root {
--primary-color: #65a0dc;
--secondary-color: #7099c3;
--dark-text-color: #5f6a76;
--light-text-color: #c9dff5;
--background-color: #f0f8ff;
}  

::-webkit-scrollbar {
  height: 3px;
  width: 3px
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-text-color);
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.App-logo {
  height: 40px;
  border-radius: 300px;
}

.App-header {
  display: flex;
  position: fixed;
  width: inherit;
  align-items: center;
  justify-content: space-between;
  background: white;
  z-index: 1000;
}

.App-header-company {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  gap: 10px;
  padding: 10px 50px 10px 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-header h1 {
  font-size: x-large;
}

.App-header-sections {
  display: flex;
  padding: 0 20px;
}

.App-header-section {
  padding: 20px;
  cursor: pointer;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.App-header-section:hover {
  scale: 1.1;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.App-header-section.selected {
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: underline;
  transition: all 1s ease-in-out;
}

.App-main {
  height: 100%;
}

.App-section {
  background-color: var(--background-color);
  display: flex;
}

.App-about {
  gap: 40px;
}

.App-about div{
  flex: 1;
}

.App-about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.App-main h2 {
  font-size: 4rem;
  color: var(--primary-color);
}

.App-main p {
  font-size: 2rem;
  color: #5f6a76;
}

.App-about-image {
  height: 100vh;
  background-image: url("../public/icons/p1.jpg");
  background-size: cover;
}

.App-projects-section {
  flex-direction: column;
  padding: 60px 40px;
  gap: 60px;
}

.App-projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 3 equal-width columns */
  gap: 20px;
  padding: 0 100px;
  height: 100%
}

.App-project {
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: #50637760 3px 3px;
}

.App-project:hover {
  scale: 1.05;
  box-shadow: #50637760 6px 6px;
  transition: all 0.3s ease-in-out;
}

.App-project img {
  width: 100%;
}

.App-project h3 {
  color: white;
  padding: 20px;
}

.App-contact {
  padding: 60px 40px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
}